body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.FormPage {
   border-style: dotted;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;

}

h3 {
  text-align: center;

}

.component-name {
    text-align: center;
}

/* .form-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 5.0rem;
    background-color: cornflowerblue;
} */

header {
  display: center;
  margin: auto;
}

.card {
   border-style: groove;
   border-color: black;
   width: 40%;
   margin: auto;
   padding: 5.0rem;
   margin-bottom: 10px;
   background-color: rgb(184, 242, 255);
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJAcALpAcJtHKHqP8tervuIn-uR1z25DJHsA&usqp=CAU"); */
   
}

.card:hover {
  box-shadow: 0 8px 50px 0 rgba(62, 218, 31, 0.685);
}

img {
  width: 350px;
  height: 210px;

}

.card-detail {
  border-style: dotted;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
  background-color: white;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJAcALpAcJtHKHqP8tervuIn-uR1z25DJHsA&usqp=CAU");
  color: white;

  /* line-height: 50% */
  /* padding: 1em */
}
 
#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}
/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

.img-container {
  /* margin: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 52.5%;
  margin-bottom: 20px;
  /* justify-content: center; */
}

/* img.center {
    display: block;
    margin: 0 auto;
} */

.send-likes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center;
}

.like-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 10px;

}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.app-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  font-size: 25px;
}
.log-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.l-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.finance-card {
    width: 40%;
    margin: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.0rem;
    background-color: rgb(149, 151, 155);
    border-style: groove;
    border-color: black;
    margin-bottom: 10px;
}
form {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    padding: 5.0rem;
    background-color: cornflowerblue;
    border-color: black;
}

.form-container {
  margin: auto;

}