body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.0rem;
  background-color: cornflowerblue;
}

.card {
  width: 40%;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 5.0rem;
}

.like-button{
  width: 40%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.send-likes{
  margin: auto;
}

.card-info{
  margin: auto;
  align-items: left;
}

